.App {
	height: 100%;
	background-color: #222;
  text-align: center;
	margin: 0px;
	padding: 0px;
  color: white;
}

.App-header {
  background-color: #444;
	margin: 0px;
	padding: 2px;
  color: white;
}
